<section id="about-us">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">About us</h2>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Nibh cras pulvinar mattis nunc
                            sed blandit.
                        </p>
                        <button
                            mat-button
                            color="primary"
                            class="btn btn-default"
                            type="button"
                            (click)="cancel()"
                        >
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-Title">Title</h3>
                        <p class="card-text">
                            Nunc non blandit massa enim nec dui nunc mattis
                            enim. Erat imperdiet sed euismod nisi porta lorem
                            mollis aliquam. Sit amet luctus venenatis lectus
                            magna fringilla urna. Cum sociis natoque penatibus
                            et. Enim diam vulputate ut pharetra sit amet
                            aliquam.
                        </p>
                        <button
                            mat-button
                            color="primary"
                            class="btn btn-default"
                            type="button"
                            (click)="cancel()"
                        >
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-Title">Title</h3>
                        <p class="card-text">
                            Pulvinar etiam non quam lacus suspendisse faucibus
                            interdum posuere. Non
                        </p>
                        <button
                            mat-button
                            color="primary"
                            class="btn btn-default"
                            type="button"
                            (click)="cancel()"
                        >
                            Read more
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">
                            Non curabitur gravida arcu ac tortor dignissim. Amet
                            luctus venenatis lectus magna fringilla urna
                            porttitor rhoncus dolor.
                        </p>
                        <button
                            mat-button
                            color="primary"
                            class="btn btn-default"
                            type="button"
                            (click)="cancel()"
                        >
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">
                            Felis eget velit aliquet sagittis id. Massa placerat
                            duis ultricies lacus sed turpis. Sit amet volutpat
                            consequat mauris nunc congue nisi. Nulla malesuada
                            pellentesque elit eget gravida.
                        </p>
                        <button
                            mat-button
                            color="primary"
                            class="btn btn-default"
                            type="button"
                            (click)="cancel()"
                        >
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Title</h3>
                        <p class="card-text">
                            Adipiscing enim eu turpis egestas pretium. Mauris
                            rhoncus aenean vel elit scelerisque mauris
                            pellentesque pulvinar pellentesque.
                        </p>
                        <button
                            mat-button
                            color="primary"
                            class="btn btn-default"
                            type="button"
                            (click)="cancel()"
                        >
                            Read more
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button
    mat-raised-button
    color="primary"
    class="btn btn-default"
    type="button"
    (click)="cancel()"
>
    Take me back
</button>
